.btn:hover,
.btn:focus {
  border-color: #f8f9fa;
  background-color: #f8f9fa;
}
.no-hover:hover {
  background-color: #fff;
}

.dropbtn {
  background-color: #f1f1f1;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 90%;
  right: 0%;

  text-align: center;
  border-radius: 20px 20px 20px 20px;
  background-color: #f1f1f1;
  min-width: 100px;
  height: 250px;
  width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  color: black;
  padding: 8px 30px;
  text-decoration: none;
  display: inline-table;
}
.dropdown-content a:hover {
  background-color: #ddd;
}

.d-flex-a:hover .dropdown-content {
  display: block;
}

.d-flex-a {
  position: relative;
  display: inline-block;
}

.divBackground {
  filter: alpha(opacity=70);
  opacity: 0.7;
}

.chip-container {
  background-color: #f8f9fa;
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  padding: 10px 15px;
  position: sticky;
  top: 49px;
  z-index: 99;
}
.chip {
  display: inline-block;
  padding: 5px 10px;
  font-size: 12px;
  background-color: var(--accent-color);
  border: 1px solid var(--border);
  white-space: nowrap;
  margin-right: 5px;
  border-radius: 25px;
  color: var(--color);
  text-align: center;
}
.slick {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}
.a {
  display: block;
  position: relative;
}

.card-video-div {
  color: gray;
  font-size: 13px;
}

.card-video-h4 {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}
code {
  font-family: monospace;
  color: #0000ff; /* blue */
}
